*{
box-sizing: border-box;
}/*not on style3.css*/

.header{
height:10vh;
background:#ffffff;
width:100%;
position:relative;
border-bottom-color: #cccccc;
border-bottom-style: solid;
border-bottom-width: 2px;
}
body{
height:100vh;
width:100vw;
position:relative;
margin:0;
background-image: url("../images/vintage-leaves.png");
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
color:#777777;
}
.myName{
position:absolute;
left:10%;
bottom:0%;
width:auto;
height:100%;
font-size:20px;
background:#4aaaa5;
padding:0% 2% 0% 2%;
text-align:center;
overflow: visible;
display: table;
color:white;

}

.child{
    font-family: 'Georgia', Times, Times New Roman, serif;	
	text-align: center;
	color:white;
    display: table-cell;
    vertical-align: middle;
    font-size:30px;
    font-weight:bold;
}
h2{
font-size:30px;
font-family: 'Georgia', Times, Times New Roman, serif; 
color:#4aaaa5;
font-weight:bold;
padding: 10px 0px 20px 0px;
border-bottom-style: solid;
border-bottom-color: #d3d3d3;
border-bottom-width: 1px;
}

.rightmargin{
position: absolute;
right:10%;
bottom:40%;
height:auto;
width: 20vw;
text-align:center;
color: rgba(0, 0, 0, 0.1);

}

a{
	margin:0px 3px 0px 3px;
    text-decoration:none;
    color: rgba(0, 0, 0, 0.5);


}
#maincontent{
width:100%;
height: 80%;
position:relative;
}
.smallimage{
height:50px;
width: 50px;
float:left;

}
figure{

    display:inline-block;
    margin:0%;
    padding:20px 5px 30px 5px;
    border-radius: 0%;
}
#figurepadding{
    padding-right:-10px;
    padding-left: -10px;
}

#box1{
position:absolute;
left:10%;
top:4%;
border-color: #cccccc;
border-style: solid;
border-width: 1px;
height:auto;
width:40%;
padding:2%;
background:white;
box-sizing: border-box;
}
#box2{
position:absolute;
right:10%;
top:4%;
border-color: #cccccc;
border-style: solid;
border-width: 1px;
height:auto;
width:21vw;
text-align:center;
background:white;
}
input
    {
        font-family: Garamond, serif;
        font-size: 12px;
        color: black;
        border-color: rgba(0, 0, 0, 0.1);
        border-width: 1px;
        display: block;
        padding:5px;
        width:100%;
        box-sizing: border-box;

    }
input-placeholder{
        font-family: Garamond, serif;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.5);

}
 
 button{
display:inline-block;
margin: 10px 0px 10px 0px;
padding:10px 20px 10px 20px;
background:#4aaaa5;
color:white;
border:none;
font-size:inherit;

 }

h3{
border-bottom-style: solid;
border-bottom-color: #d3d3d3;
border-width: 1px;
padding: 30px 0px 20px 0px;
display:inline-block;
margin:0px;
color:#4aaaa5;
font-family: 'Georgia', Times, Times New Roman, serif;
font-size:20px; 
font-weight: bold;

}
div{
    display:block;
    box-sizing: border-box;
}
section{
    box-sizing: border-box;

}
.footer{
display:table;
position:absolute;
bottom: 0px;
height:96.3px;
background:#666666;
width:100%;
border-top-style:solid;
border-top-color:#4aaaa5;
border-width: 10px;
clear:both;
}
.copyright{
display:table-cell;
vertical-align: middle;
width:auto;
height:100%;
text-align:center;
color:gray;
}
textarea{
border-color:rgba(0, 0, 0, 0.1);
padding:5px;

}
.navbar{
   display: flex;
   justify-content:space-between;


}
a{
    display:inline-block;
    height:auto;
    width:auto;
}
.textbox{
box-sizing: border-box;
height: 20vh;
width:auto;
border-style:solid;
border-color:rgba(0, 0, 0, 0.1);
border-width:1px;
}
#noborder{
box-sizing: border-box;
border:none;
width:100%;
}



@media screen and (max-width:1320px){
        body{
           
             min-height: 963px;

    }
        .rightmargin{

        width: 22vw;
    

    }
        #box2{

        width:24vw;

        }


}
@media screen and (max-width:980px){

        .rightmargin{

        width: 25.5vw;
    

    }
        #box2{

        width:27.5vw;

        }
        #box1{

        width:46vw;
        left:12%;    
        }

        .myName{
        left:12%;

        }




}
@media screen and (max-width:768px){
    
        .rightmargin{

        right:3%;
    

    }
       #box1{
        top:4%;
        left:3%;
        width:94%;

        }
        #box2{

        right:3%;
        bottom:.5%;
        top:auto;
        width:94%;
        box-sizing: border-box;
        text-align: left;
        padding-left:2%;
        }

        .myName{
        left:3%

        }
        h3{
            display:block;
            text-align: none;
        }

        figure{
                padding:20px 3px 20px 0px; 


        }
                .rightmargin{

        width: 30vw;
    

    }


}

@media screen and (max-width:640px){
.myName{
        position:static;
        width:100%;

}
.rightmargin{
    position:static;
    width:100%;
    padding-top:20px;
    padding-bottom:20px;
}
.footer{
    bottom:-70px;

}
body{
    height:1023px;
}
       #box1{
        top:4%;
        }
        .navbar{
            background:white;
        }
        .header{
        height:auto;
        }
        .child{
            display:block;
            padding:30px;
        }
        a{
            width:30%;
            text-align:center;
        }
        #box2{

        bottom:6%;
        }
}