.smallerimage{
width:24%;
height:13%;
float:left;
margin-right:3%;
margin-bottom:2%;
}
p{
line-height: 45px;
}

.header{
height:10%;
background:#ffffff;
width:100%;
position:relative;
border-bottom-color: #cccccc;
border-bottom-style: solid;
border-bottom-width: 2px;
}
body{
height:100vh;
width:100vw;
margin:0;
background-image: url("../images/vintage-leaves.png");
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
color:#777777;
}
.myName{
position:absolute;
left:10%;
bottom:0%;
width:auto;
height:100%;
font-size:20px;
background:#4aaaa5;
padding:0% 2% 0% 2%;
text-align:center;
overflow: visible;
display: table;


}
.auto{
width:100%;
height:100%;
}
.child{
    font-family: 'Georgia', Times, Times New Roman, serif;	
	text-align: center;
	color:white;
    display: table-cell;
    vertical-align: middle;
    font-size:30px;
    font-weight:bold;
}
h2{
font-size:30px;
font-family: 'Georgia', Times, Times New Roman, serif; 
color:#4aaaa5;
font-weight:bold;
padding: 10px 0px 20px 0px;
border-bottom-style: solid;
border-bottom-color: #d3d3d3;
border-bottom-width: 1px;
}

.rightmargin{
position: absolute;
right:10%;
bottom:40%;
height:auto;
width: 16%;
text-align:center;
color: rgba(0, 0, 0, 0.1);

}

a{
	margin:0px 3px 0px 3px;
    text-decoration:none;
    color: rgba(0, 0, 0, 0.5);


}
#maincontent{
width:100%;
height: 80%;
position:relative;
}
.smallimage{
height:50px;
width: 50px;
float:left;

}
figure{

    display:inline-block;
    margin:0%;
    padding:20px 5px 30px 5px;
    border-radius: 0%;
}
#figurepadding{
    padding-right:-10px;
    padding-left: -10px;
}

#box1{
position:absolute;
left:10%;
top:4%;
border-color: #cccccc;
border-style: solid;
border-width: 1px;
height:auto;
width:40%;
padding:2%;
background:white;
}
.message{

   display:inline-block;
   width:500px;
   height:200px;

}
#box2{
position:absolute;
right:10%;
top:4%;
border-color: #cccccc;
border-style: solid;
border-width: 1px;
height:auto;
width:16%;
text-align:center;
background:white;
clear: both;
}
input
    {
        font-family: Garamond, serif;
        font-size: 12px;
        color: black;
        border-color: rgba(0, 0, 0, 0.1);
        border-width: 1px;
        display: block;
        padding:5px;
    }
input-placeholder{
        font-family: Garamond, serif;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.5);

}
 #subbox{
}
position: absolute;
top:0%;
border-bottom:solid;
border-bottom-color: gray;
 }
  #subbox2{
position: absolute;
top:15%;
 }
 button{
display:block;
margin: 10px 0px 10px 0px;
padding:10px 20px 10px 20px;
background:#4aaaa5;
color:white;
border:none;
font-size:inherit;

 }

h3{
border-bottom-style: solid;
border-bottom-color: #d3d3d3;
border-width: 1px;
padding: 30px 0px 20px 0px;
display:inline-block;
margin:0px;
color:#4aaaa5;
font-family: 'Georgia', Times, Times New Roman, serif;
font-size:20px; 
font-weight: bold;

}
div{
    display:block;
}
.footer{
display:table;
height:10%;
background:#666666;
width:100%;
border-top-style:solid;
border-top-color:#4aaaa5;
border-width: 10px;
clear:both;
}
.copyright{
display:table-cell;
vertical-align: middle;
width:auto;
height:100%;
text-align:center;
color:gray;
}
textarea{
border-color:rgba(0, 0, 0, 0.1);
padding:5px;

}
.navbar{
   display: flex;
   justify-content:space-between;


}
a{
    display:inline-block;
    height:auto;
    width:auto;
}